@media (min-width: 768px) {
    #members.grid-view {
        grid-template-columns: repeat(3, 1fr);
    }

    #navMenu {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    #menuBtn {
        display: none;
    }

}
