@media (min-width: 768px) {
    #members.grid-view {
        grid-template-columns: repeat(3, 1fr);
    }

    #navMenu {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    #menuBtn {
        display: none;
    }

    .hero {
        height: 400px;
    }

    @media (min-width: 768px) {

    .join-layout {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }

    .membership-cards {
        margin-top: 0;
    }
}

}
