@media (min-width: 768px) {
    #members.grid-view {
        grid-template-columns: repeat(3, 1fr);
    }

    nav ul {
        display: flex;
        gap: 1rem;
    }

    #menuBtn {
    display: none;
    }

}
