@media (min-width: 768px) {
    #members.grid-view {
        grid-template-columns: repeat(3, 1fr);
    }

    #navMenu {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    #menuBtn {
        display: none;
    }

    .hero {
        height: 400px;
    }

    @media (min-width: 768px) {

    .join-layout {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }

    .membership-cards {
        margin-top: 0;
    }

    @media (min-width: 641px) {
    #discover-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    }

    @media (min-width: 1025px) {
    #discover-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    }

    @media (min-width: 641px) {
    #discover-grid img:hover {
        filter: brightness(80%);
        transform: scale(1.03);
        transition: 0.3s;
    }
    }

}

}
