body {
    font-family: 'Roboto', Arial, sans-serif;
}

header, footer {
    background: #003366;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* Navigation */
nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

#members.grid-view {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

#members.list-view .member-card img {
    display: none;
}

.member-card {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
}

.member-card img {
    width: 100%;
    height: 160px;
    margin-bottom: 0.5rem; 
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(241, 192, 32);
    z-index: 1;
    text-align: center;
}

.hero-text h1 {
    font-size: 5rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    text-align: center;
}

.cta-btn {
    background: #ffcc00;
    padding: 0.75rem 1.5rem;
    color: #003366;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

/* Navigation */
#menuBtn {
    display: block;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: rgb(251, 250, 250);
    cursor: pointer;
    margin: auto;
}

/* hide menu by default on small screens */
#navMenu {
    display: none;
    list-style: none;
    padding: 0;
}

/* show menu when open */
#navMenu.open {
    display: block;
}

#navMenu li {
    padding: 0.5rem 0;
}

/* nav links */
nav ul li {
    padding: 0.5rem 0;
}
